---
layout: splash
---

<div class="initial-content">
   {{ content }}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent News" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}


<div>
  <span style="width:40%; display:inline-block;">
    <h3 class="archive__subtitle">Organized by</h3>
    <a href="https://www.circl.lu/"><img src="{{ site.url }}/images/logos/circl.png" /></a>
  </span>
</div>

<div>
  <span style="width:40%; display:inline-block;">

<h3 class="archive__subtitle">Book sponsoring by</h3>

<a href="https://www.randorisec.fr/"><img src="{{ site.url }}/images/logos/randori.png"/></a>

<h3 class="archive__subtitle">Hosting provided by</h3>
<a href="http://www.maehdros.com/"><img src="{{ site.url }}/images/logos/maehdros.png" /></a>

